# Composer-Abhängigkeiten
/vendor/
composer.lock

# Systemdateien (macOS, Windows)
.DS_Store
Thumbs.db

# Umgebungsvariablen
.env

# Test-Skripte & Debug-Dateien (nicht versionieren)
tests/debug/
tests/test*
tests/*.json
tests/bootstrap.php
!tests/.env.example
